@import '../../lib/core/theming/_theming'; // Gets the theming functions 
@import '../../demo-app/theme'; // Gets the predefined colors
.demo-button {
  button, a {
    margin: 8px;
    text-transform: uppercase;
  }

  section {
    display: flex;
    align-items: center;
    margin: 8px;
	background-color: mat-color($candy-app-primary, 900);
	color: mat-color($candy-app-primary, 900-contrast);
  }

  p {
    padding: 5px 15px;
  }

  .section-header {
    font-weight: 500;
    margin: 0;
  }

  .no-flex {
    display: block;
  }
}
